/* src/index.css */
/* Сброс базовых стилей для всех элементов */
*{
  margin: 0;
  padding: 0;

}

/* Глобальные настройки прокрутки и высоты */
html {
  scroll-behavior: smooth;  /* Плавная прокрутка для всего документа */
  overflow-y: overlay; /* Скроллбар поверх контента */

}

body,
#root {
  min-height: 100vh;        /* Минимальная высота на весь экран */
  width: 100%;      
  overflow-x: hidden;
  position: relative;    
      /* Полная ширина контейнера */
}

/* Фикс для некоторых мобильных браузеров */
@supports (-webkit-touch-callout: none) {
  body,
  #root {
    min-height: -webkit-fill-available; /* Для корректной высоты в iOS */
  }
}